@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: green;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 5px 10px;
  margin: 5px;
}
